name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

  schedule:
    - cron: '30 12 * * 3'   # среда 12:30 UTC
    - cron: '0 22 * * 5'    # пятница 22:00 UTC

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [11, 17]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Grant execute permission for Gradle Wrapper
        if: runner.os != 'Windows'
        run: chmod +x gradlew

      - name: Build with Gradle Wrapper
        run: ./gradlew build
